/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Campo */
.campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* Label */
label {
    margin-bottom: 5px;
}

/* Input */
input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Mensagem de erro */
.erro {
    color: red;
    font-size: 12px;
    height: 14px;
    margin-top: 4px;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

/* Campo inválido */
.campo.invalido input {
    border-color: red;
}

/* Campo válido */
.campo.valido input {
    border-color: green;
}
