/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    padding: 30px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background: #ffffff;
    max-width: 700px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* BOTÕES */
button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #1e40af;
}

.btn-secundario {
    background-color: #16a34a;
    margin-top: 10px;
    margin-bottom: 2rem;
}

.btn-secundario:hover {
    background-color: #15803d;
}

/* ===============================
   CONTEÚDOS COM TRANSIÇÃO
================================ */

/* Sessão 1 */
.conteudo {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

/* Sessão 2 */
.conteudo-extra {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

/* Estado ativo (abre o conteúdo) */
.ativo {
    max-height: 500px;
    opacity: 1;
}
