/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    background-color: #022242;
=======
    background-color: #8c99a5;
>>>>>>> Stashed changes
=======
    background-color: #8c99a5;
>>>>>>> Stashed changes
=======
    background-color: #8c99a5;
>>>>>>> Stashed changes
    color: #333;
    width: 100vw;
    height: 100vh;
}

/* Header */
header {
    background-color: #0f172a;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* Login */
.login-section {
    max-width: 400px;
    margin: 60px auto;
    margin-bottom: 15rem;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    background: rgb(15, 15, 15);
=======
    background: rgba(27, 27, 29, 0.574);
>>>>>>> Stashed changes
=======
    background: rgba(27, 27, 29, 0.574);
>>>>>>> Stashed changes
=======
    background: rgba(27, 27, 29, 0.574);
>>>>>>> Stashed changes
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.login-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    height: 10rem;
=======
    color: white;
>>>>>>> Stashed changes
=======
    color: white;
>>>>>>> Stashed changes
=======
    color: white;
>>>>>>> Stashed changes
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    background-color: #031b5e;
=======
    background-color: #959697;
>>>>>>> Stashed changes
=======
    background-color: #959697;
>>>>>>> Stashed changes
=======
    background-color: #959697;
>>>>>>> Stashed changes
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Mensagem */
#mensagem {
    margin-top: 10px;
    font-weight: bold;
}

/* Área restrita */
.area-restrita {
    display: none;
    max-width: 800px;
    margin: 50px auto;
    background: #e2e8f0;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
