    body {
      text-align: center;
      font-family: Arial;
    }

    canvas {
      width: 400px;
      margin: 20px auto;
    }

    button {
      padding: 10px 15px;
      margin: 5px;
      cursor: pointer;
    }