/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eef2f7;

  /* Permite crescer verticalmente */
  min-height: 100vh;


  padding: 5px; /* Evita colar nas bordas no mobile */
}

/* Container do gráfico */
.container {
  width: 35%;
  max-width: 600px; /* Evita ficar gigante em telas grandes */
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  text-align: center;
  margin-top: 1.8rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
background-color: cornflowerblue;
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 1.5rem;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}


/* Responsividade Tablet */
@media (max-width: 1024px) {
  .container {
    width: 60%;
  }
}

/* Responsividade Celular */
@media (max-width: 768px) {
  body {
    align-items: flex-start; /* Alinha no topo para melhor leitura */
  }

  .container {
    width: 95%;
    margin-top: 40px;
    padding: 25px;
  }
}

/* Celulares menores */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}